.h1{
    align-items: center;
}
.h2{
    text-align: center;
    color: maroon;
}

.body{
    background-color: rgb(246, 237, 235);

}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.wrapper {
    display: block;
    margin: 0% 5% 0% 5%;
    align-content: center;
    height: available;
    width: available;
    padding: 10px;
}

.mapDiv {
    margin: 0% 5% 0% 5%;
    align-content: center;
    max-height: 1250px;
    min-height: 800px;
    width: available;
    padding: 10px;
}

.polygon {
    color: blue;
}